body {
  background-color: navy;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
}

header {
  margin: 0;
  background-color: white;
  width: 100%;
  height: 4em;
  text-align: center;
  letter-spacing: 0.5em;
  word-spacing: 30px;
  text-shadow: 1px 1px grey;
  position: relative;
}

.top {
  color: black;
  text-align: center;
  padding-top: 1.5em;
  position: relative;
}

.top a {
  word-spacing: 4em;
  padding-top: 1.5em;
}
a {
  text-decoration: none;
  color: black;
}
.worksheaders {
  display: flex;
  justify-content: space-around;

  margin: 0%;
}
.worktext {
  bottom: 20em;
  top: 20em;
  text-align: center;
}
.works {
  display: flex;
  justify-content: space-between;
}

.app-todo {
  height: 25em;
  width: 25em;
}

.weatherapp {
  height: 25em;
  width: 35em;
}

.superchat {
  height: 25em;
  width: 25em;
}

h3 a {
  color: white;
}
